{{> header}} Edit {{capitalFirstLetter title}}
<br>{{idName}} {{idValue}}
<form action="{{path}}" method="POST">
    <input type="hidden" name="_method" value="PUT"> {{#each keys}} {{this}}:
    <input type="text" name="{{this}}" id="name" value="{{lookup ../data this}}">
    <br> {{/each}}
    <input type="submit" value="Edit {{capitalFirstLetter title}}">
</form>
<form action="{{path}}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete {{capitalFirstLetter title}}">
</form>
<a href="/{{title}}s">Back to {{capitalFirstLetter title}}s List</a>
{{> footer}}