{{> header}}
<h1>{{capitalFirstLetter title}}s</h1>
<a href="/{{path}}/new">Create New {{capitalFirstLetter title}}</a>
<table>
    {{!-- Add Table Headers for each item in keys --}}
    <thead>
        <tr>
            {{#each keys}}
            <th>{{capitalFirstLetter this}}</th>
            {{/each}}
        </tr>
    </thead>
    {{!-- Add Header Data for each item in Data --}}
    <tbody>
        {{#each data}}
        <tr>
            {{#each ../keys}}
            <td>
                <a href="/{{../../path}}/{{#if ../id}}{{../id}}{{/if}}{{#if ../urlTitle}}{{../urlTitle}}{{/if}}">

                    {{lookup .. this}}</a>
            </td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<br>
<a href="/">Go to Home Page</a>

<h2>{{hello}}</h2>
{{> footer}}