{{> header}}
<h1>{{title}}s</h1>
<a href="/{{path}}/new">Create New {{title}}</a>
<table>
    <thead>
        <tr>
            {{#each keys}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            {{#each ../keys}}
            <td>
                <a href="/{{../../path}}/{{#if ../id}}{{../id}}{{/if}}{{#if ../urlTitle}}{{../urlTitle}}{{/if}}">{{lookup .. this}}</a>
            </td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>{{hello}}</h2>
{{> footer}}