{{> header}} Create A New {{title}}
<form action="/{{path}}" method="POST">
    {{#each keys}} {{capitalFirstLetter this}}:
    <input type="text" name="{{this}}">
    <br>{{/each}}
    <input type="submit" value="submit">
</form>
<a href="/{{path}}">Back to {{title}}s List</a>
{{> footer}}